body {
	/* font-family: "DIN Alternate", sans-serif;
    font-size: 16px; */
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.morphin {
	background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.7));
	backdrop-filter: blur(10px);
}

.rich-text {
	border-radius: 10px 0 0 10px !important;
}
.date-time {
	border-radius: 0 10px 10px 0 !important;
	border-left: none !important;
}
.label-item .edit{
	visibility: hidden;
}
.label-item:hover .edit{
	visibility: visible;
}
.popup .mantine-RichTextEditor-root {
	width: 100% !important;
}
.popup .date-time {
	width: 100% !important;
}
.popup .rich-text {
	border-radius: 10px 10px 0 0 !important;
}
.popup .date-time {
	border-radius: 0 0 10px 10px !important;
	border: 1px solid #ced4da !important;
	border-top: none !important;
}
@media only screen and (max-width: 768px) {
	.rich-text {
		border-radius: 10px 10px 0 0 !important;
	}
	.date-time {
		border-radius: 0 0 10px 10px !important;
		border: 1px solid #ced4da !important;
		border-top: none !important;
	}
}
/* --------------------------- */
.text-truncate {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}
